* {
    box-sizing: border-box;
}

body {
    color: #000;
    background-color: #294546;
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
}

button {
    background-color: #F29747;
    color: #FFFFFF;
    border: 0;
    min-width: 110px;
    line-height: 24px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #B96F29;
}

button:active {
    background-color: #F29747;
}

select {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 24px;
    padding-left: 2px;
}

label {
    font-weight: 700;
    display: inline-block;
}

.container {
    min-width: 300px;
    max-width: 50%;
    padding: 10px;
}

.row {
    width: 100%;
    content: " ";
}

.form-group {
    margin-bottom: 15px;
}

.form-header {
    background-color: #F29747;
    padding: 5px;
    color: #FFF;
}

.form-content {
    padding: 5px;
}

.checkbox {
    width: 220px;
    padding: 2px;
    display: inline-block;
}

.checkbox label {
    display: inline;
    font-weight: 400;
    cursor: pointer;
}

.header {
    color: #fff;
    background-color: #294546;
    padding: 8px;
}

.header-text {
    font-size: 30px;
}

div.light {
    background-color: #99B4BA;
}

#game-select {
    min-width: 200px;
}

#btn-check-all {
    margin-right: 15px;
}

#editor {
    height: 500px;
}