<!DOCTYPE html>

<html>

<head>
    <title>Shipyard</title>
    <link href="styles.css" rel="stylesheet">
    <script type="text/javascript" src="main.js"></script>
    
    <script id="faction-select-field-template" type="text/template">
        <div class="field-group">
            <label for="<%- label + factionId %>"><%- label %></label>
            <select id="<%- label + factionId %>" class="<%- fieldClass %>" name="<%- label + factionId %>">
                <% _.forEach(options, function(o) { %>
                    <option value="<%- o.value %>" <% o.value == selectedValue ? 'selected="selected"' : '' %> ><%- o.text %></option>
                <% }); %>
            </select>
        </div> 
    </script>
    
    <script id="faction-groups-template" type="text/template">
        <div class="faction-groups">
            <% _.forOwn(groupings, function(gts, gId) { %>
                <div class="faction-grouping">
                    <button class="grouping-select all"><%- gId %></button>
                    <div class="group-templates">
                        <% _.forEach(gts, function(gt) { %>
                            <div class="field-group group-template">
                                <input id="<%- gt.id + factionId %>"
                                    class="group-template"
                                    name="<%- gt.id + factionId %>"
                                    type="checkbox"
                                    checked
                                    data-id="<%- gt.id %>" />
                                <label for="<%- gt.id + factionId %>"><%- gt.name %></label>
                            </div>
                        <% }); %>
                    </div>
                </div>
            <% }); %>
        </div> 
    </script>

    <script id="faction-vehicle-classname-fields-template" type="text/template">
        <div class="faction-vehicle-classname-fields">
            <% _.forEach(vehicleClassnameTemplates, function(vct) { %>
                <div class="field-group vehicle-classname-template">
                    <label for="<%- vct.id + factionId %>"><%- vct.name %></label>
                    <input id="<%- vct.id + factionId %>"
                        class="vehicle-classname"
                        name="<%- vct.id + factionId %>"
                        type="text"
                        value="<%- vct.classname %>"
                        data-id="<%- vct.id %>" />
                </div>
            <% }); %>
        </div> 
    </script>

    <script id="admiral-select-field-template" type="text/template">
        <div class="field-group">
            <label for="<%- templateName %>"><%- label %></label>
            <select id="<%- templateName %>" name="<%- templateName %>">
                <% _.forEach(options, function(o) { %>
                    <option value="<%- o.value %>" <% o.value == selectedValue ? 'selected="selected"' : '' %> ><%- o.text %></option>
                <% }); %>
            </select>
        </div>
    </script>
</head>

<body>
<div>
    <div class="header">
        <div class="header-text">Shipyard</div>
        <ul class="menu">
            <li class="menu-item active"><a href="/shipyard">Mission</a></li>
            <li class="menu-item"><a href="/shipyard/town-sweep">Town Sweep</a></li>
            <li class="menu-item"><a href="/shipyard/random-engagements">Random Engagements</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="form">
            <h3 class="after">Mission</h3>
            <div class="field-group">
                <label for="terrain">Terrain</label>
                <select id="terrain">
                </select>
            </div>
            <div class="field-group">
                <label for="missionType">Mission type</label>
                <select id="missionType">
                </select>
            </div>
            <div class="field-group">
                <label for="onLoadName">OnLoadName</label>
                <input id="onLoadName" name="onLoadName" type="text" placeholder="Oh it's this mission" />
            </div>
            <div class="description">Full mission name, shown on load screen</div>
            <div class="field-group">
                <label for="briefingName">Briefing name</label>
                <input id="briefingName" name="briefingName" type="text" placeholder="oh_its_this_mission" />
            </div>
            <div class="description">Short mission name containing only alphanumeric and underscore</div>
            <div class="field-group">
                <label for="overviewText">Overview text</label>
                <input id="overviewText" name="overviewText" type="text" placeholder="Slot everything!" />
            </div>
            <div class="description">Short description/pun of mission and slotting requirements</div>
            <div class="field-group">
                <label for="author">Author</label>
                <input id="author" name="author" type="text" />
            </div>
            
            <h3 class="before after">Factions</h3>
            <div id="factions"></div>
            <button id="add-faction">Add faction</button>
            
            <h3 class="before after">Addons</h3>
            <div class="field-group">
                <label for="admiralIsEnabled">Admiral</label>
                <input id="admiralIsEnabled" name="admiralIsEnabled" type="checkbox">
            </div>
            <div id="admiral" class="addon-config" style="display: none">
            </div>

            <div class="field-group">
                <label for="navy">Navy</label>
                <input id="navy" name="navy" type="checkbox">
            </div>

            <div class="field-group" style="display: none;">
                <label for="plank">Plank</label>
                <input id="plank" name="plank" type="checkbox">
            </div>

            <div>
                <button id="generate-mission">Generate mission</button>
                <img id="download-progress" src="progress.gif" width="24" height="24" style="display: none; margin-bottom: -5px;" />
            </div>
            <form id="download-mission" method="GET" action="" style="display: none;"></form>
        </div>
    </div>
</div>
</body>

</html>